@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Inter:wght@200;400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: #8e67fc !important;
  -webkit-background-color: #8e67fc;
  -o-background-color: #8e67fc;
  -moz-background-color: #8e67fc;
  font-family: 'Merriweather Sans, sans-serif' !important;
  -webkit-font-family: 'Merriweather Sans, sans-serif' !important;
}

/* navbar */
.navbar {
  border: none;
  background: transparent;
  color: #8e67fc;
  color: transparent;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.main__head {
  font-weight: 600;
  font-size: 40px;
}
.main__text {
  font-size: 21px;
}

#btn__start {
  border-radius: 15px;
  background: #4793eb;
  font-weight: 600;
  user-select: none;
  min-width: 178px;
}

#btn__start:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.react-multiple-carousel__arrow--right {
  position: absolute;
  top: -20px;
  z-index: -1;
}

.react-multiple-carousel__arrow--left {
  display: none;
}

/* modal custom class */

.modal-content {
  border-radius: 27px;
}
